{% extends 'app/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<body style="background-color: black;">
    <img src="{% static 'images/stock.jpg' %}" alt="" style="width: 637px;height: 550px;margin-top: 31px;margin-left: 82px;">
 <div style="border-style: solid;border-radius: 9px;margin-top: -492px;width: 500px;margin-left: 712px;height: 404px;background-color: white;">
    
    <div class="col-lg-10 col-lg-offset-2" style="margin-left: 50px;font-size: large;margin-top: 40px;">
        
        <form action="" method="post">
            {% csrf_token %}
            {{form|crispy}}
           <center><input type="submit" value="ajouter" style=" width: 97px;height: 30px;background-color: limegreen;border-style: solid;border-radius: 9px;color: white;font: icon;"></center> 
        </form>
        </div>
   

 </div>
</body>

 
    


{% endblock %}